*, *::before, *::after{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.container{
    width: 800px;
    max-width: 80%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    opacity: 78%;
}


.footer{
    width: 800x;
    max-width: 100%;
    font-size: xx-small;
    color: rgb(163, 162, 162);
    /* background-color: rgb(41, 38, 38); */
    margin-top:10px;
    padding:0px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}


.btn {
    background-color: hsl(113,97%,60%);
    border: 1px solid hsl(113,97%,30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
}

.btn:hover {
    border-color: black;
}
